<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign up</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="wrapper">
      <form action="/submit" method="POST">
        <h4>Name: <input type="text" name="name" /></h4>
        <h4>text (optional)</h4>
        <textarea name="comment" id="comment" cols="50" rows="10"></textarea
        ><br />
        <input type="submit" value="Submit" id="submit" />
      </form>
    </div>
  </body>
</html>
